@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    top: 0;
    background-color: #452470;
    width: 100%;
    height: 100%;
    color: aliceblue;
    overflow: hidden;
}

h1{
    position: relative;
    text-align: center;
    top: 30px;
    font-weight: 600;
}

#top_icon{
    font-size: smaller;
}

/* cart body */

#cart_listings{
    position: relative; 
    top: 20px;
    width: 96%;
    height: 76%;
    background-color: #23003A;
    border-radius: 10px;
    overflow-y:auto;
    display: flex;
    gap:40px;
    justify-content: start;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}


/* cart footer */


#cart_footer{
    position: relative;
    background-color:#23003A;
    width: 96%;
    height: 10%;
    bottom:10px;
    border-radius: 0 0 10px 10px;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
}

#cart_info{
    position: relative;
    line-height: 8px;
    margin-top:0.4%;
    margin-left: 20px;
    margin-right: auto;
    font-size: 14px;
}

#cart_listings p{
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
}

#buy_items{
    position: absolute;
    left: 0;
    right:0;
    top:9%;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    border: #23003A 1px solid;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}

#delete_items{
    position: absolute;
    left: 0;
    right:0;
    top:63%;
    padding:1px;
    padding-left:8px;
    padding-right:8px;
    font-size: small;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
}

#points_select{
    position: absolute;
    left: 0;
    right:0;
    top:9%;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    border: #23003A 1px solid;
    margin-left: auto;
    margin-right: 15px;
    width: 10%
}

@media (max-width:430px) {
    #buy_items,#delete_items{
        position: absolute;
        right: 0;
        margin-right: 10px;
    }
    #cart_info{
        margin-left: 10px;
        top:10px;
        line-height: 3px;
        font-size: 10px;
    }
    #points_select{
        top:63%;
        margin-right: 25%;
        width: 10px;
        height:20px;
    }
}

div::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

div::-webkit-scrollbar {
width: 8px;
background-color: none;
}
  
div::-webkit-scrollbar-thumb {
border-radius: 10px;
background-color:darkblue;
}

/* listing item */

.listing{
    height:380px;
    width:250px;
    background-color:#23003A;
    border-radius: 10px;
    color: aliceblue;
    text-align: center;
    padding: 0.4%;
    
}

.cart_info{
    position:relative;
}

.item_name,.item_price{
    font-size:18px;
    color: white;
}

.item_price{
    font-size:19px;
    margin: 10px;
}

.game_name{
    font-size: 10px;
    color:azure;
}

.item_img{
    max-width: 210px;
    height: auto;
    position: relative;
    background: none;
    border: none;
    top:8%;
    filter: drop-shadow(5px 8px 0 rgba(7, 12, 16, 0.15));;
}

.img_container{
    width: 210px;
    height: 200px;
    border-radius: 10px;
    background: radial-gradient(circle, rgba(157,221,254,1) 0%, rgba(5,133,213,1) 25%, rgba(35,0,58,1) 73%);
    margin-left: 13px;
}

.seller{
    margin-top: 5%;
    text-align: center;
}

.seller_pic{
    margin-top: -1%;
    border-radius: 50%;
}

.seller_name{
    display:inline;
    font-size: 12px;
}

