@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    top: 0;
    background:#452470;
    width: 100%;
    height: 100%;
    color: aliceblue;
    overflow: hidden;
}

#edit_window
{
    position: relative;
    width: 70%;
    height:90%;
    margin-left: auto;
    margin-right: auto;
    top:8%;
    border:1px black solid;
    background-color:darkslateblue;
    border-radius: 10px;
    padding:1%;
}

#back{
    position: relative;
    border: none;
    background: transparent;
    color: aliceblue;
    font-size: 25px;
    margin-left: -10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

h3{
    position: relative;
    text-align: center;
    margin-top: -30px;
}

#edit_form{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.form-group{
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#submit{
    position: relative;
    margin-left: 36%;
}

#profile_pic{
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 50%;
    border: 1px solid black;
}