html,body{
    margin:0;
    padding: 0;
    height:100%;
    background-color: blueviolet;
    top:0;
    left:0;
}

#background{
    background:url(../pics/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top:0;
    width:100%;
    height:100%;
    filter: blur(8px);
    position: absolute;
}

#form_window{
    width: 40%;
    padding: 20px;
    background-color:indigo;
    position: relative;
    top:8%;
    text-align: center;
    border-radius: 30px;
    color: aliceblue;
    border: 1px black solid;
    margin-left: auto;
    margin-right: auto;
}

.form-horizontal{
    margin-left: 14%;
}

@media (max-width:1024px) {
    #form_window{
        width: 90%;
    }
    .form-horizontal{
        margin-left: 1%;
    }
}

@media (max-width:430px) {
    .form-horizontal{
        margin-left: 1%;
    }
}

h1{
    color: rgb(255, 255, 255);
}
.form-control {
    margin-bottom: 20px;
}

.btn{
    color: white;
    background-color:dodgerblue;
}

.btn:hover{
    box-shadow: 3px 4px 4px cornflowerblue;
    background-color:aqua;
}

.control-label{
    text-align: left;
}

#bottom_label{
    margin-top: 20%;
}

#back{
    left:20px;
    font-size: 25px;
    position: absolute;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
}

#form_window input{
    border: 1px black solid;
}




