@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

html, body{
    margin:0;
    padding:0;
    top:0;
    background-color: #452470;
}

#mp_filterbar{
    position: relative;
    top:30px;
    left:2%;
    width: 96%;
    height: 50px;
    background-color:#005DAD;
    border:black 1px solid;
    border-radius: 10px;
}

.filter_search{
    display: inline;
}

.mp_filterrow{
    display:inline-flex;
    justify-content: space-evenly;
}

.filter_inputs{
    width:150%;
    margin-right: 20px;
}




