@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    top: 0;
    background:#452470;
    width: 100%;
    height: 100%;
    color: aliceblue;
    overflow: hidden;
}

/* background */

#profile_window
{
    position: relative;
    width: 85%;
    height:90%;
    margin-left: auto;
    margin-right: auto;
    top:8%;
    border:1px black solid;
    background:#23003A;
    border-radius: 10px;
    padding:1%;
}

/* side profile */

#profile_pic{
    width:200px;
    height:200px;
    border-radius: 50%;
    border: 1px black solid;
}

#profile_details{
    width: 200px;
    text-align: center;
    margin-left: 4%;
}

#username{
    margin-top: 3%;
    font-weight: 700;
    border: white 1px solid;
    border-radius: 10px;
    padding-bottom: 6px;
}

#email{
    font-weight: 100;
    font-size: 13px;
}

#edit_profile{
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    background-color: rgb(95, 82, 183);
}

#logout{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    background-color:rgb(187, 5, 5);
    border-radius: 8px;
}

/* inventory */

#inventory{  
    position: absolute; 
    right: 2%;
    top: 2%;
    width: 70%;
    height: 96%;
    background-color:darkslateblue;
    border: black 2px solid;
    border-radius: 10px;
    overflow-y:auto;
    display: flex;
    gap:30px;
    justify-content: start;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

div::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

  
div::-webkit-scrollbar {
width: 8px;
background-color: none;
}
  
div::-webkit-scrollbar-thumb {
border-radius: 10px;
background-color:darkblue;
}

#inventory p{
    margin-left: auto;
    margin-right: auto;
}



/* inventory items */
.item{
    height:350px;
    width:240px;
    background-color:#23003A;
    border-radius: 10px;
    color: aliceblue;
    text-align: center;
    padding: 0.4%;
}

.item_name{
    font-size:18px;
    color: white;
}


.item_price{
    font-size:15px;
    margin: 10px;
}

.game_name{
    font-size: 10px;
    color:azure;
}

.item_img{
    max-width: 210px;
    height: auto;
    position: relative;
    background: none;
    border: none;
    top:5%;
    filter: drop-shadow(5px 8px 0 rgba(7, 12, 16, 0.15));;
}

.img_container{
    width: 210px;
    height: 200px;
    border-radius: 10px;
    background: radial-gradient(circle, rgba(157,221,254,1) 0%, rgba(5,133,213,1) 25%, rgba(35,0,58,1) 73%);
    margin-left: 13px;
}


.btn{
    border:1px solid black;
}

.btn:hover{
    animation-duration: 0.5s;
    animation-direction:normal;
    box-shadow: 3px 4px 4px cornflowerblue;
    filter: brightness(200%);
}

/* modal */

.modal-body{
    background-color: #452470;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.modal-footer{
    border-top:#23003A 2px solid;
    background-color: #452470;
}

.modal-content{
    background-color: #452470;
}

.modal-header{
    border-bottom:#23003A 2px solid;
    background-color: #452470;
}

#listingheader{
    text-align: center;
}

.col-1{
    background-color: #452470;
    margin-left: 41%;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.col-6{
    background-color: #452470;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#list_form{
    background-color: #452470;
}
