html{
    
}


body{
    margin:0;
}

nav{
    height: 50px;
    width: 100%;
    border: 2px solid black;
    position: fixed;
    background-color: #23003A;
    top: -1px;
    left:0px;
    z-index: 10;
    margin:0px;
    padding:0px;
}

.nav_buttons{
    float: right;
    margin: 15px;
    margin-left: 30px;
}

.nav_buttons a{
    margin-left: 30px;
    text-decoration: none;
    background-color: #005DAD;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    text-align: center;
    color: aliceblue;
}

nav img{
    padding:10px;
    padding-left: 5px;
}
#homepage{
    background-image: url(pics/vecteezy_modern-abstract-light-dynamic-stripe-gradient-purple_3987132.jpg);
    height: 1080px;
}




