
html, body{
    margin:0;
    padding:0;
    top:0;
}


body{
   
    background-image: url("pics/Background.jpg");
    background-repeat: no-repeat;
    justify-content: center;
}

nav{
    height: 45px;
    width: 100%;
    border: 2px solid black;
    position: fixed;
    background-color: #23003A;
    top: -1px;
    left:0px;
    z-index: 10;
    margin:0px;
    padding:0px;
}

.nav_buttons{
    float: right;
    margin-top: 14px;
    margin-right: 20px;
}

.nav_buttons a{
    margin-left: 30px;
    text-decoration: none;
    background-color: #005DAD;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    text-align: center;
    color: aliceblue;
}

nav img{
    margin-top:6px;
    margin-left: 5px;
}
#homepage{
    background-image: url(pics/vecteezy_modern-abstract-light-dynamic-stripe-gradient-purple_3987132.jpg);
    height: 1080px;
}

h1{
    color: azure;
    font-size: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: #23003A 10px;
}

#header{
    font-size: 30px;
    
    color: azure;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 100px;
    margin-top: 250px;
}

#blue_border{
    box-shadow: 10px 10px;
    background-color: #005DAD;
    border-radius: 15px;
    width: 500px;
    margin: 100px;
    padding-left: 20px;
    
}

#h5{
    padding-left: 100px;
    color: aliceblue;
    font-size: 12px;
}
#guns{
    margin-left: 700px;
    margin-top: -250px;
    -ms-transform: rotate(65deg); 
    transform: rotate(65deg);
}






#last_blue_border{
    background-color: #005DAD;
    border-radius: 50px;
    width: 500px;
    height: 170px;
    margin-left: 270px;
    margin-top: 100px;

    /* the padding is for the text inside the blue box*/
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 15px;
}

h2{
    font-size: 25px;
    color: azure;
    align-content: center;
}


#tax{
    margin-top: 200px;
    background:#23003A;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 1400px;
}


#safety{
    background:#23003A;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}












* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper{
    margin: 150px auto;
    width: 70%;


}

#safety-image{
    max-width: 320px;
    float: left;
    border-color: aqua;
    border-radius: 10px;
    
    margin-right: 20px;
    padding-top: 150px;
}
#safety-image{
    max-width: 320px;
    float: right;
    border-color: aqua;
    border-radius: 10px;
    
    
}



.text-box{
    color: aliceblue;
}

.text-box h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding-top: 170px;
    padding-left: 15px;
}

.text-box p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-top: 100px;
}






#tax-image{
    max-width: 320px;
    float: left;
    height:250px;
    padding-top: 100px;
    padding-left: -00px;
    
}

#tax-p{
    padding-left: 100px;
    padding-bottom: 10px;
}

