<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/cart.css">
  </head>
  <body>
    <header>
        <div id="includehtml"></div>
    </header>
    <h1 id="topheader">Cart <i class="fa-solid fa-cart-shopping" id="top_icon"></i></h1>
    <div id="cart_listings">
      <!-- <div class="listing">
        <h2 class="item_name">dsadas</h2>
        <h3 class="game_name">dsadas</h3>
          <div class="img_container">
          <img class="img-thumbnail item_img img-fluid" src="../pics/Luxe_Ghost.png">
        </div>
        <h2 class="item_price">$ 9999</h2>
        <button class="btn btn-danger" class="removeitem">Remove</button><br>
        <div class="seller">
          <img class="seller_pic" src="../pics/vecteezy_profile-icon-design-vector_5544718.jpg" alt="profilepic"
              onerror="src='../pics/vecteezy_profile-icon-design-vector_5544718.jpg'"  width="20px" height="20px">
          <h4 class="seller_name">d</h4>
      </div>
      </div> -->
    </div>
    <div id="cart_footer">
      <div id="cart_info">
        <p>Subtotal: </p>
        <p>Discount: </p>
        <p>Total: </p>
      </div>
      <select class="form-select" id="points_select">
        <option id="show_points" disabled selected>No of points</option>
        <option value="0">Don't Use</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
      </select>
      <button class="btn btn-primary" id="buy_items">Check-Out</button><br>
      <button class="btn btn-danger" id="delete_items">Clear All</button><br>
      
    </div>

    <div class="modal fade" id="failedbuy" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title fs-5" style="color:black">Insufficent funds</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="color:black">
            Please top-up your balance to buy the items.
          </div>
          <lottie-player src="https://assets1.lottiefiles.com/private_files/lf30_mlsj6yqm.json"  background="transparent"  speed="1"  style="width: 60px; height: 60px;margin-left: 2%"   autoplay></lottie-player>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="sucess" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title fs-5" style="color:black">Transaction sucessful!</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body" style="color:black">
            Reload page to take effect
          </div>
          <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_o3kwwgtn.json"  background="transparent"  speed="0.5"  style="width: 80px; height: 80px;"    autoplay></lottie-player>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="loading" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title fs-5" style="color:black">Processing transaction...</h2>
          </div>
          <div class="modal-body" style="color:black">
            Please wait
          </div>
          <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_kxsd2ytq.json"  background="transparent"  speed="1"  style="width: 100px; height: 100px;align-self:center;"  loop  autoplay></lottie-player>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    
    <script src="https://kit.fontawesome.com/7f958d91e0.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="../scripts/cart.js"></script>
  </body>
</html>