<html>
    <head>
        <link rel="stylesheet" href="../css/normalize.css">
        <link href="../css/header.css" rel="stylesheet">
    </head>
    <body>
    <nav>
      <a id="mobile_menu">
        <i class="fa-solid fa-bars"></i>
      </a>
      <a href="../templates/marketplace.html" id="nav_logo"><img src="../pics/logoleft.png" alt="logo" height="33px" width="50px"></a>
        <div id="nav_buttons">
          <a href="../templates/marketplace.html" class="text_a">Marketplace <i class="fa-solid fa-shop" class="nav_icons"></i></a>
          <a href="../templates/listings.html" class="text_a">Listings <i class="fa-solid fa-list" class="nav_icons"></i></a>
          <a href="cart.html" class="text_a">Cart <i class="fa-solid fa-cart-shopping" class="nav_icons"></i></a>
          <div id="nav_balance">
            <p style="color: aliceblue;">$ 0</p><a href="../templates/balance.html" id="nav_add"><i class="fa-solid fa-plus"></i></a>
        </div>
        <div id="nav_profile">
          <img id="nav_profilepic" src="../pics/vecteezy_profile-icon-design-vector_5544718.jpg" alt=""
          onerror="src='../pics/vecteezy_profile-icon-design-vector_5544718.jpg'"  width="27px" height="27px">
        <a href="../templates/profile.html" id="nav_username">Login/Signup</a>
        </div>
      </div>
      
    </nav>
    <script src="https://kit.fontawesome.com/7f958d91e0.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="../scripts/header.js"></script>
</body>
</html>
